<h4>Start by Importing Neccesary Packages</h4>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import csv

<h4>Download the Dataset</h4>

In [ ]:
download_url = "https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv"
target_csv_path = "my_dataset.csv"

response = requests.get(download_url)
response.raise_for_status()    # Check that the request was successful
with open(target_csv_path, "wb") as f:
    f.write(response.content)
print("Download ready.")

Download ready.

<h4>Load the Dataset</h4>

In [ ]:
dataset = pd.read_csv('my_dataset.csv')     #Path to dataset

<h4>Exploring the Dataset</h4>

In [ ]:
dataset.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

In [ ]:
A = [1,2,3,4,5,6]
B = [113,21,34]
A_B = A.extend(B)
print(A.extend(B))

None

In [ ]:
print(np.identity(3))
print(np.eye((3,3)))

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

<h3>Question 3 is <b>  Gas  </b>          ................you can find solution below<h3>

In [ ]:

f = ['fuel_type_code_pudl', 'fuel_cost_per_unit_burned']
dataset[f]['fuel_cost_per_unit_burned'].min()

for i in dataset[f].columns:
  if dataset['fuel_cost_per_unit_burned']:
    print(i)

ValueError: ignored

In [ ]:
dataset['fuel_mmbtu_per_unit'].describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

In [ ]:
print(dataset['fuel_qty_burned'].skew())
print(dataset['fuel_qty_burned'].kurt())

15.851495469109503
651.3694501337732

In [ ]:
missing = dataset['fuel_unit'].isna()
if any(missing) == True:
  print('It has missing Value')

It has missing Value

In [ ]:
answer = ['report_year', 'fuel_cost_per_unit_delivered']
count_1997 = 0
count_2018 = 0
count_1996 = 0
count_2004 = 0
count_2009 = 0
dataset[answer].head()
for i in zip(dataset[answer]['report_year'],dataset[answer]['fuel_cost_per_unit_delivered']):
  if i[0] == 1997:
   count_1997 += i[1]
  if i[0] == 2018:
   count_2018 += i[1]
  if i[0] == 1996:
   count_1996 += i[1]
  if i[0] == 2004:
   count_2004 += i[1]
  if i[0] == 2009:
   count_2009 += i[1]

print('The average of 1997 fuel cost per unit delivered is ', count_1997 // len(dataset))
print('The average of 2018 fuel cost per unit delivered is ', count_2018 // len(dataset))
print('The average of 1996 fuel cost per unit delivered is ',count_1996 // len(dataset))
print('The average of 2004 fuel cost per unit delivered is ',count_2004 // len(dataset))
print('The average of 2018 fuel cost per unit delivered is ',count_2018 // len(dataset))

The average of 1997 fuel cost per unit delivered is  412.0
The average of 2018 fuel cost per unit delivered is  16.0
The average of 1996 fuel cost per unit delivered is  338.0
The average of 2004 fuel cost per unit delivered is  5.0
The average of 2018 fuel cost per unit delivered is  16.0